---
layout: default
title: What's New?
---

<h1>{{page.title}}</h1>

<div id="home">
  <div class="posts">
    {% for post in site.posts %}
      <div class="post">
        <a class="title" href="/{{ post.url }}">{{ post.title }}</a>
        <span class="meta">Posted on {{ post.date | date_to_string }}{% if post.author %} by {{post.author}}{% endif %}</span>
        <p>{{ post.content | strip_html | truncatewords:25}}</p>
        <a href="/{{ post.url }}">Read More &#x27A1;</a>
      </div>
    {% endfor %}
  </div>
</div>